{# src/MyWeb/SiteBundle/Resources/views/Page/admin.html.twig #}
{% extends 'MyWebSiteBundle::layout.html.twig' %}

{% block navigation %}
    <nav>
        <ul class="navigation">
            <li><a href="{{ path('my_web_site_homepage') }}">Home</a></li>
            <li><a href="{{ path('logout') }}">Logout</a></li>
        </ul>
    </nav>
{% endblock %}

{%  block content %}
    <section class="main-col">
        {% block body %}
            <section id="data"></section>
        {% endblock %}
    </section>
    <aside class="sidebar">
        {% block sidebar %}
            <div class="search">
                <h4>Search messages by Email</h4>
                <form action="{{ path('my_web_site_admin') }}" method="get" id="search_form">
                    <input type="text" name="keywords" id="search_keywords"/>
                    <div class="help">
                        Enter an email or part of it</div>
                        (min. 3 letters).
                    </div>
                </form>
            </div>
        {% endblock %}
    </aside>
    <script>
        $('#search_keywords').on('keyup change', function(e) {
            var keywords = $('#search_keywords').val();
            if (keywords.length >= 3) {
                var form = $('#search_form').serialize();
            } else {
                var form = undefined;
            }

            var url = "{{ path('my_web_site_search') }}";
            $.post(url, form, function(data){
                $('#data').html(data);
            });
        });

        $(document).on('click', 'div.pagination span a', function(e){
            e.preventDefault();
            var keywords = $('#search_keywords').val();
            if (keywords.length >= 3) {
                var form = $('#search_form').serialize();
            } else {
                var form = undefined;
            }

            var url = $(this).attr('href');
            $.post(url, form, function(data){
                $('#data').html(data);
            });
        });

        var url = "{{ path('my_web_site_search') }}";
        $.post(url, {}, function(data){
            $('#data').html(data);
        })
    </script>
{% endblock %}
