{# src/MyWeb/SiteBundle/Resources/views/Page/index.html.twig #}
{% extends 'MyWebSiteBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('contact-notice') %}
        <div class="contact--notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="contact-form">
    <h2>Send me a message</h2>

    <form action="{{ path('my_web_site_homepage') }}" method="post" {{ form_enctype(form) }} class="contact">
        {{ form_errors(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
    </div>
{% endblock %}
